ipykernel
ipython
jupyter
jupyterlab
missingno
numpy
pandas
scipy
matplotlib
seaborn
scikit-learn
--find-links https://download.pytorch.org/whl/cpu
--external-find-links https://download.pytorch.org/whl/cpu
wheel
tensorflow-cpu
keras
torch==2.1.2+cpu
plotly
